/**********************disable responsiveness******************/
.container
{
	width: 970px !important;
}

/**********************HEADER*************************/
#logo{
	background: url('../img/UMustSeeGreenLong200.png') no-repeat;
	width: 200px;
	height: 42px;
	margin: 0.2em 2em 0em 0em;
}
/************************PAGE**************************/
#page{
	background-color: #ffffff;
}
body{
	/*background: url('../img/background.png') repeat;*/
}
/***********************Footer************************/

/******************MENU*******************************/
.navbar-collapse
{
	padding-left: 0em;
}

