/**********************disable responsiveness******************/
.container
{
	width: 970px !important;
}

/**********************HEADER*************************/
#logo{
	background: url('../img/UMustSeeGreenLong200.png') no-repeat;
	width: 200px;
	height: 42px;
	margin: 0.2em 2em 0em 0em;
}
#upload
{
	background-color:#12ba00;
	color: white;
	font-weight: bold;
	margin: 12px 0px 0px 0px;
	border: none;
}
/************************PAGE**************************/
#page{
	background-color: #ffffff;
}
body{
	padding-top: 70px;
	padding-bottom: 50px;
	min-width: 970px;
}

/***********************Post**************************/
.Post
{
	padding:5px;
}
.Post img
{
	width: 700px;
	height: auto;
}
.Post:hover
{
	cursor: pointer;
}
.PostTitle
{
	font-weight: bold;
	font-size: 2em;
	margin: 0px 0px 10px 0px;
}
.PostText
{
	margin: 10px 0px 10px 0px;
	font-size: 1.5em;
}
.pub
{
	height: 300px;
	background-color: #dddddd;
}
.borderTop
{
	border-top: 1px solid #dddddd;
	margin: 10px 30px 10px 30px;
}
/***********************Misc**************************/
.MarginTopBottom1
{
	margin: 1em 0em 1em 0em;
}
.PaddingTopBottom1
{
	padding: 1em 0em 1em 0em;
}
/***********************Footer************************/
#navFooter
{
	background-color: white;
	font-size: 0.9em;
}

/******************MENU*******************************/
.navbar-collapse
{
	padding-left: 0em;
}
.menu-hover
{
	padding-top:4px;
}
.menu-hover:hover
{
	padding-top:0px;
	border-top: 4px solid #12ba00;
}



/*****************************Disabling responsiveness********************************/
/* Reset the container */
.container {
  max-width: none !important;
  width: 970px;
}

/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
